.input-field {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.input-field:focus {
    outline: none;
    border-color: #0147a9;
}

.text-button {
    background: none;
    color: whitesmoke;
    position: relative !important;
    text-align: center !important;
    font-size: 1.2em !important;
    line-height: 2em !important;
    transition: 0.5s !important;
    padding: 4px 10px !important;
    border-radius: 10% !important;
    margin-left: 8px !important;
    border: none !important;
}

.text-button:hover {
    transform: scale(1.05);
}