.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    /* Reset for the last half to pause */
    100% {
        transform: rotate(0deg);
    }
}

.home-content {
    padding: 9rem 0 2rem !important;
    color: whitesmoke;
    text-align: left;
}

.home-section {
    position: relative;
    z-index: -1;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px !important;
    padding-top: 30px !important;
}


.home-primary-header {
    position: relative;
    text-shadow: 2px 2px 20px rgba(255, 255, 255, 0.7);
    padding-top: 80px !important;
    padding-left: 3vw;
    color: white;
    font-weight: 900;
    font-size: 50pt;
}

.heading-name {
    font-size: 2.5em !important;
    padding-left: 3vw;
    margin-left: 8pt;
}

.main-name {
    color: var(--imp-text-color);
}

.typewriter-wrapper-home {
    font-size: 2.5em !important;
    color: var(--imp-text-color) !important;
    font-weight: 600 !important;
    padding-left: 3vw;
    padding-top: 16pt;
    margin-left: 8pt;
}

.typewriter-wrapper-home .Typewriter__cursor {
    font-size: 1em !important;
    color: var(--imp-text-color) !important;
}

@media (max-width: 1200px) {
    .home-primary-header {
        padding-left: 8vw;
        padding-right: 8vw;
        font-size: 40pt;
    }

    .heading-name {
        font-size: 2em !important;
        padding-left: 8vw;
        padding-right: 8vw;
        margin-left: 4pt;
    }

    .typewriter-wrapper-home {
        font-size: 2em !important;
        padding-left: 8vw;
        padding-right: 8vw;
        padding-top: 8pt;
        margin-left: 4pt;
    }
}

.myAvtar {
    justify-content: center !important;
    padding-top: 9em !important;
}


@media (max-width: 767px) {
    .myAvtar {
        padding-top: 2em !important;
        padding-bottom: 2em !important;
    }
}

.home-about-section {
    position: relative;
    padding-bottom: 70px !important;
    padding-top: 70px !important;
}

.home-about-description {
    color: white !important;
    padding-top: 100px !important;
    padding-bottom: 20px !important;
    text-align: center;
}

.home-about-body {
    padding-top: 50px;
    font-size: 1.2em !important;
    text-align: left;
}

.home-about-contact {
    padding-top: 50px;
    font-size: 1.2em !important;
    text-align: center !important;
}

.home-about-social {
    text-align: center !important;
    padding-top: 25px;
    color: white !important;
}

.home-about-social-links {
    justify-content: center !important;
    padding-top: 15px !important;
    display: inline-block !important;
    position: relative !important;
    padding-inline-start: 0 !important;
}