@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    font-family: "Raleway", serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right, #000000, #000000);
}

html {
    --section-background-color: linear-gradient(to right, #000000, #000000);

    --image-gradient: linear-gradient(
            to bottom left,
            rgba(17, 16, 16, 0.678),
            rgba(12, 10, 22, 0.863)
    );

    --imp-text-color: #ab31de;
}

.primary-color {
    color: var(--imp-text-color) !important;
}

button:focus {
    box-shadow: none !important;
}


